DB_HOST=127.0.0.1
DB_NAME=zohan_tech_store
DB_USER=root
DB_PASS=coloca_aqui_tu_password
DB_CHARSET=utf8mb4

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@ejemplo.com
MAIL_PASS=tu_password_o_app_password
MAIL_FROM=tu_correo@ejemplo.com
MAIL_FROM_NAME=Zohan Tech Store

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

PAYPAL_CLIENT_ID=tu_paypal_client_id
PAYPAL_SECRET=tu_paypal_secret
PAYPAL_MODE=sandbox
PAYPAL_URL=https://api-m.sandbox.paypal.com
