# ==============================
# Composer
# ==============================
/vendor/
composer.lock

# ==============================
# Config
# ==============================
.env
config/database.php
config/cloudinary.php
config/mail.php

# ==============================
# Logs y storage
# ==============================
/storage/logs/*
/storage/uploads/*

# ==============================
# System files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temp files
# ==============================
*.log
*.tmp
*.bak

# ==============================
# IDEs
# ==============================
.vscode/
.idea/

# ==============================
# Node
# ==============================
node_modules/

# ==============================
# Local files
# ==============================
.htaccess.bak